#course {
	overflow: auto;
	margin: 30px 0px;
	padding: 20px;
	background-color: #EFEFEF;
}

#cleft {
	float: left;
	width: calc(100% - 300px);
	padding-right: 10px;
}

#cleft p {
	font-size: 1.1em;
	font-weight: 800;
}

#cleft img {
	display: block;
	width: 100%;
	
}

#cright{
	float: left;
	width: 300px;
	height: 490px;
	overflow: auto;
	background: #FAFAFA;
	padding: 1em;
}
.room {
	margin-bottom: 1em;
	overflow: auto;
}

.room div:first-of-type {
	float: left;
	width: 90px;
	margin-right: 8px;
}

.room p {
	margin-bottom: 5px;
	letter-spacing: -0.08em;
	
}
.room p:last-of-type {
	font-size: 0.87em;
}

.room div:last-of-type {
	float: left;
	width: calc(100% - 98px);
}

.btn {
	width: 240px;
	height: 70px;
	background: #31363e;
	display: inline-block;
	line-height: 70px;
/*	margin-bottom: 80px;*/
	color: white;
	font-size: 1.1em;
}
.btn-mark{
	background-color: #134ea0;
}

/* checkmodal STYLE */

#checkmodal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.85);
	z-index: 10000;
	display: none;
}

#cmodalbox {

	background-color: white;
	padding: 20px;
	position: absolute;
	overflow: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: 940px;
	max-height: 590px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

#cmodalbox h4{
	
	font-size: 1.3em;
	color: #0c4da2;
	margin-bottom: 0.7em;
	
}

#cmodalbox>p {
	font-size: 0.9em;
	color: #333;
}
#cmodalbox>p::before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	background-color: #0c4da2;
	vertical-align: middle;
	margin-right: 0.5em;
}

#cmodalbox hr {
	margin-top: 0.7em;
	margin-bottom: 1.1em;
}


#movecenter {
	max-width: 540px;
	width: 100%;
	margin: auto;
	
}

#movecenter p {
	text-align: center;
	font-size: 1.08em;
	font-weight: bold;
	color: #0c4da2;
	margin-top: 40px;
	margin-bottom: 20px;
	
}

/* 체크모달 내 표 스타일*/
#movecenter table {
	min-width: auto;
	border-top: 1px solid #d1e0ea;
	margin-bottom: 150px;
}
#movecenter th,
#movecenter hd{
	border-bottom: 1px solid #d1e0ea;
	border-right: none;
}
#movecenter th {
	font-weight: normal;
	text-align: right;
	background-color: #f0f7fc;
	word-break:keep-all; 
}

#movecenter td {
	padding-right: 40px;
}
#movecenter input {
	height: 32px;
	border: 1px solid #c2c2c2;
	padding-left: 0.3em;
	padding-right: 0.3em;
}
#movecenter input[name="username"] {
	
	width: 100%;
}

#movecenter input[name^="tel"] {
	
	width: 26%;
	float: left;
}

#movecenter span{
	float: left;
	display: block;
	width: 11%;
	text-align: center;
	line-height: 32px;
	
	
}

/*  2번째 tabcont */
#course2{
	overflow: auto;
	border: 1px solid #d3d3d3;
	margin: 30px 0px;
	padding: 30px;
}
#c2left {
	float: left;
	width: calc(100% - 250px);
}

#c2left img {
	width: 100%;
	
}

#c2right {
	font-size: 0.98em;
	float: right;
	width: 250px;
	padding: 70px 50px 50px 50px;
	font-weight: 700;
}
/*  3번째 tabcont */

#course3 {
	overflow: auto;
	border: 1px solid #d3d3d3;
	margin: 30px 0px;

}
#c3left {
	float: left;
	width: 60%;
}
#c3left img{
	width: 100%;
}
#c3right {
	float: right;
	padding: 100px 50px;
	width: 40%;
}

.c3cen {
	overflow: auto;
}

.c3cen p {
	display: block;
	float: right;
	width: calc(100% - 95px);
	padding-left: 10px;
	font-size: 1.02em;
}
.c3circle {
	width: 95px;
	height: 35px;
	float: left;
	background-color: #134ea0;
	color: white;
	line-height: 35px;
	text-align: center;
	border-radius: 17px;
	font-weight: 700;
	
}

.c3cen a {
	display: block;
	text-align: center;
	text-decoration: underline;
	color:#134ea0;
	font-weight: 800;
	font-size: 1.2em;

}




@media all and (max-width: 1050px){
	#cleft, #cright {
		float: none;
		width: 100%;
	}
	#cright {
		height: auto;
	}
	.room {
		width: 50%;
	}
	.room div:last-of-type {
		padding-right: 10px;
	}
	.room:nth-of-type(odd){
		float: left;
	}
	.room:nth-of-type(even){
		float: right;
	}
	#c2left img {
		min-width: 400px;
	}
	#c2right {
    font-size: 0.98em;
    float: right;
    width: 250px;
    padding: 50px 30px 30px 30px;
    font-weight: 700;
	}
	
	
		
		
}
	
	
	
}
#cmodalbox btn {
	width: 120px;
	height: 35px;
	line-height: 35px;
	font-size: 0.9em;
}



@media all and (max-width:800px){
	
	#c2left{
		float: none;
		width: 100%;
	}
	#c2left img {
		min-width: 100%;
	}
	#c2right {
		float: none;
		width: 100%;
		padding: 20px;
	}
	.list-circle li {
		display: block;
		width: 50%;
		float: left;
	}
	
	
	#c3left{
		float: none;
		width: 100%;
	}
	#c3left img {
		min-width: 100%;
	}
	#c3right {
		float: none;
		width: 100%;
		padding: 20px;
	}
}

@media all and (max-width: 600px){
	#cright {
		
		height: 200px;
	}
	.room {
		width: 100%;
		float: none;
	}
	
	#movecenter table {
		margin-bottom: 30px;
		
	}
	#movecenter p { 
		margin-top: 30px;
	}
	#movecenter th,
	#movecenter hd {
		padding: 0.6em 0.5em;
		
	}
	
	
}






